/* Style buttons */
.btn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }
  
  .col-centered{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  
.customImg {
  height: 15px;
  width: 15px;
  padding: 1px; 
}

.info-text-primary {
  font-size: .7rem;
}